In [ ]:
# 웹크롤링 라이브러리 준비
from urllib import request 
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import re

In [44]:
response = requests.get("http://worldometers.info/world-population/population-by-country/")
html = response.content.decode('utf-8')
soup = BeautifulSoup(html, 'html.parser')
pop_df = pd.read_html(response.text)

C:\Users\human\AppData\Local\Temp\ipykernel_6940\2017831385.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pop_df = pd.read_html(response.text)

In [71]:
tables = soup.select('table')
print( len(tables) )


trs = soup.select('table tr')
print( len(trs) )

data = []
for idx, tr in enumerate(trs):
    row = []
    if idx == 0:
        tds = tr.select('th')
    else:
        tds = tr.select('td')
    
    for td in tds:
        row.append(td.get_text(strip=True))
    data.append(row)

1
234

In [ ]:
df = pd.DataFrame(data[1:], columns=data[0])

df.head()

,#,Country (ordependency),Population(2025),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,MedianAge,UrbanPop %,WorldShare
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","−495,753",1.94,28.8,37.1%,17.78%
1,2,China,"1,416,096,094",−0.23%,"−3,225,184",151,"9,388,211","−268,126",1.02,40.1,67.5%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","−39,509",2.1,30.4,59.6%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","−1,235,336",3.5,20.6,34.4%,3.10%