In [19]:
import sys

In [20]:
# 변수 만들기 + 데이터 저장 
a = 10       # 정수
b = 11.11    # 실수
c = "hello"  # 문자열
d = True     # 논리
e = None     # 존재하지 않는 값

In [21]:
# 변수에 저장된 값 읽기
print(a)
print(b)
print(c)
print(d)
print(e)

10
11.11
hello
True
None

In [22]:
# 각 변수의 자료형 확인

# print(type(a))
# print(type(b))
# print(type(c))
# print(type(d))
# print(type(e))

print("a type : {0} size : {1}".format(type(a),sys.getsizeof(a)))
print("b type : {0} size : {1}".format(type(b),sys.getsizeof(b)))
print("c type : {0} size : {1}".format(type(c),sys.getsizeof(c)))
print("d type : {0} size : {1}".format(type(d),sys.getsizeof(d)))
print("e type : {0} size : {1}".format(type(e),sys.getsizeof(e)))

a type : <class 'int'> size : 28
b type : <class 'float'> size : 24
c type : <class 'str'> size : 54
d type : <class 'bool'> size : 28
e type : <class 'NoneType'> size : 16

In [23]:
a = 3 # a는 3이 저장된 변수 (객체)
b = 3 # b는 3이 저장된 변수 (객체)

print(a == b) # a와 3이 같은지 비교
print(a is b)

True
True

In [24]:
# 한번에 여러개의 값을 여러변수의 저장
a, b, c = (100, 200, "hello")

a, b, c # 노트북에서 마지작 실행문은 출력문

(100, 200, 'hello')

In [25]:
# 변수 제거
a = 10
print(a)
del a
# print(a)  오류

10

In [26]:
# 16진수 표현

a = 0xFF
b = 0x1F
print(a, b)

# 지수 표기법
c= 4.24E10
print(c)
c= 4.24E2
print(c)

255 31
42400000000.0
424.0

In [27]:
# 형변환

a = 11.11
b = 10
c = "12.12"
d = "200"

print(int(a))
print(b, float(b), float(c))
print (d + d)
print (int(d) + int(d))

11
10 10.0 12.12
200200
400

In [28]:
# 문자열 연산

greeting = "hello" + "John Doe"
print(greeting)

print("hello" * 5)

helloJohn Doe
hellohellohellohellohello

In [29]:
# 문자열 인덱싱

a = "Life is too short, you need python"
print(a[12:17])
print(a[:])
len(a) # 문자갯수 반환

short
Life is too short, you need python

34

In [30]:
# 문자열과 데이터의 결합
a = 10
b = 20
c = a+b

print ("a = " + str(a))
print ("b = " + str(b))

print("a = %d b = %d c = %d" % (a, b, c))
print("a = {0} b = {1} c = {2}".format(a, b, c))
print(f"a = {a} b = {b} c = {c}")

a = 10
b = 20
a = 10 b = 20 c = 30
a = 10 b = 20 c = 30
a = 10 b = 20 c = 30

In [31]:
a = "hobby"
bCount = a.count("b")
zCount = a.count("z")
print(f"b {bCount}:  z : {zCount}") #문자열 안에  값이 몇개 들어있는지 조회

b 2:  z : 0

In [32]:
a = ["hello", "john", "doe"]

print("hello", "john", "doe")

print(" ".join(a))
"=".join(a)

hello john doe
hello john doe

'hello=john=doe'

In [33]:
a = 'Life is too short'
a.replace("Life", "Your leg")

print(a)

Life is too short

In [34]:
a = "a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

In [35]:
print(10 / 3) # 소수점 이하 연산 
print(10 // 3) # 몫만 계산
print(10 % 3) # 나머지 계산

3.3333333333333335
3
1

In [36]:
"""Hello,
This is my test string
    abc
        def"""

multiline = "Life is too short!!!\nyou need \"python\""
print(multiline)

Life is too short!!!
you need "python"

In [46]:
l2 = [1,2,3,4,5,6,7,8,9,10]
l3 = [10,20,30,40,50]


print(l2[3:7])
print(l2[3:])
print(l2[:7])

# 리스트 연산
print( l2 + l3) # 두 리스트의 합은 두 리스트를 결합한 새 리스트를 생성
print( l2*2 ) # 리스트의 스칼라 값의 곱은 리스트의 반복

# 리스트 값 변경
l4 = l2.copy() # l2를 복사해서 l4 만들기

print(l4)
l4[5] = 100 # 단일 값 변경
print(l4)
l4[6:8] = [10, 20, 30, 40, 50] # (7, 8)을 (10, 20, 30, 40, 50)으로 변경
print(l4)

[4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 20, 30, 40, 50]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 10, 20, 30, 40, 50, 9, 10]

In [47]:
# 리스트의 요소 삭제

l5 = l2.copy()

del l5[5] # Index5 위치의 데이터 삭제
print(l5)

l5[3:5] = [] # 3, 4번 위치의 데이터 삭제
print(l5)

[1, 2, 3, 4, 5, 7, 8, 9, 10]
[1, 2, 3, 7, 8, 9, 10]

In [54]:
a = [1, 2, 3]
print(a)
a.append(4) # 목록 뒤에 값 추가
print(a)

a.insert(1, 10) # 1번째 위치에 10 추가
print(a)

a.sort()           # 리스트를 오름차순 정렬
print(a)
a.sort(reverse=True) # 리스트를 내림차순 정렬
print(a)

a.reverse() #리스트의 위치를 역순으로 변경
print(a)

a.remove(3) # 요소 3을 찾아서 제거
print(a)

print(a + [9, 8, 7]) # 원본이 바뀌지 않음

a.extend([9, 8, 7]) # 원본이 바뀜
print(a)

[1, 2, 3]
[1, 2, 3, 4]
[1, 10, 2, 3, 4]
[1, 2, 3, 4, 10]
[10, 4, 3, 2, 1]
[1, 2, 3, 4, 10]
[1, 2, 4, 10]
[1, 2, 4, 10, 9, 8, 7]
[1, 2, 4, 10, 9, 8, 7]

In [55]:
# 튜플 만들기 

t1 = () # 요소가 없는 튜플
print(t1, type(t1))

t2 = (1)
print(t2, type(t2)) # 연산자 우선순위로 계산됨

t3 = (1, 2, 3)
print(t3, type(t3))

() <class 'tuple'>
1 <class 'int'>
(1, 2, 3) <class 'tuple'>

In [ ]:
# 튜플은 읽기 전용

t4 = (1, 2, 3, 4)
# t4[0] = 100
# del t4[0]  튜플의 요소는 변경불가

In [ ]:
t5 = (1, 2, 3, 4, 5)
l5 = [v for v in t5] # tuple을 해체해서 list로 재구성
l6 = list(t5)  # tuple -> list 변경
t6 = tuple(l6) # tuple <- list 변경

print(t5, l5, l6, t6)

(1, 2, 3, 4, 5) [1, 2, 3, 4, 5] [1, 2, 3, 4, 5] (1, 2, 3, 4, 5)

In [76]:
# 딕셔너리 만들기

d1 = {}
d2 = { "name" : "John Doe", "email" : "johndoe@example.com", "age" : 32}

print(type(d1), type(d2))
print(d1, d2)

# 딕셔너리 값 추가
d2["phone"] = "010-1234-5678"
print(d2)

# 딕셔너리 값 변경
d2["email"] = "johndoe@human.com"
print(d2)

# 딕셔너리의 값 추가, 변경
d2.update({"name" : "Jane Doe", "gender" : "female"})
print(d2)

# 딕셔너리 값 읽기 1
print(d2["age"])
# print(d2["a"]) #없는 키를 사용하면 오류

# 딕셔너리 값 읽기 2
print(d2.get("name"))
print(d2.get("ㅁ")) #없는 키를 사용하면 None 출력
print(d2.get("ㅁ"), "exec") #없는 키를 사용하면 지정값 출력

# 딕셔너리 키 목록 조회
print(d2.keys())

# 딕셔너리 값 목록 조회

print(d2.values())

# 딕셔너리 키-값 쌍 목록 조회
print(d2.items())

# 딕셔너리에 키가 있는지 확인
print("name" in d2)
print("None" in d2)

#딕셔너리 모든 내용 제거
d2.clear()
print(d2)

<class 'dict'> <class 'dict'>
{} {'name': 'John Doe', 'email': 'johndoe@example.com', 'age': 32}
{'name': 'John Doe', 'email': 'johndoe@example.com', 'age': 32, 'phone': '010-1234-5678'}
{'name': 'John Doe', 'email': 'johndoe@human.com', 'age': 32, 'phone': '010-1234-5678'}
{'name': 'Jane Doe', 'email': 'johndoe@human.com', 'age': 32, 'phone': '010-1234-5678', 'gender': 'female'}
32
Jane Doe
None
None exec
dict_keys(['name', 'email', 'age', 'phone', 'gender'])
dict_values(['Jane Doe', 'johndoe@human.com', 32, '010-1234-5678', 'female'])
dict_items([('name', 'Jane Doe'), ('email', 'johndoe@human.com'), ('age', 32), ('phone', '010-1234-5678'), ('gender', 'female')])
True
False
{}