In [2]:
%pip install pandas

In [ ]:
import pandas as pd
import numpy as np

# Series 만들기 1
data = np.array(['a','b','c','d'])
s = pd.Series(data)

print(s)
print(s.index)

0    a
1    b
2    c
3    d
dtype: object
RangeIndex(start=0, stop=4, step=1)

In [7]:
# Series 만들기 2

data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [8]:
# Series 만들기 3

data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data, index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [15]:
# Series 만들기 4

s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s['c']) # index를 사용해 접근
print(s[2])   # 순서번호를 사용해 접근 - ! 경고사항 !

3
3

C:\Users\human\AppData\Local\Temp\ipykernel_10880\3001851613.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[2])   # 순서번호를 사용해 접근 - ! 경고사항 !

In [17]:
# Series 슬라이싱

s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s['c' :]) # index를 사용해 접근
print("--------------")
print(s[3 :])   # 순서번호를 사용해 접근 - ! 경고사항 !

c    3
d    4
e    5
dtype: int64
--------------
d    4
e    5
dtype: int64

In [45]:
# 데이터프레임 만들기 

data = [{'name':'dog','age':2}, {'age':6, 'name':'cat'}]
df = pd.DataFrame(data) 

df

  name  age
0  dog    2
1  cat    6

In [46]:
# 데이터프레임 만들기 2

data = data = [{'name':'dog','age':2}, {'age':6, 'name':'cat', 'color':'black'}]
df = pd.DataFrame(data, index=["first", "second"]) #인덱스 지정

df

       name  age  color
first   dog    2    NaN
second  cat    6  black

In [52]:
# 데이터프레임 만들기 3

data = [{'name':'dog','age':2}, {'age':6, 'name':'cat', 'color':'black'}]
df = pd.DataFrame(data, index=["first", "second"], columns=['name','age']) # 컬럼 지정
# 지정한 컬럼이 우선순위가 높음

df

       name  age
first   dog    2
second  cat    6

In [51]:
# 데이터프레임 만들기 4

s1 = pd.Series(['dog','cat','dolphin', 'angel'])
s2 = pd.Series([2,6,15])

data = {'name' : s1, 'age' : s2}

df = pd.DataFrame(data)
df

      name   age
0      dog   2.0
1      cat   6.0
2  dolphin  15.0
3    angel   NaN

In [97]:
# 데이터프레임 인덱싱, 슬라이싱

data = [
    {'name':'dog',     'age': 2}, 
    {'name':'cat',     'age': 6},
    {'name':'dolphin', 'age':15},
    {'name':'angel',   'age':np.nan},
    ]
df = pd.DataFrame(data)


print(df['name']) # 데이터프레임의 인덱싱은 열(컬럼) 기준 

print("\n------------------------\n")

print(df[:3])     # 데이터프레임의 슬라이싱은 행 기준

0        dog
1        cat
2    dolphin
3      angel
Name: name, dtype: object

------------------------

      name   age
0      dog   2.0
1      cat   6.0
2  dolphin  15.0

In [105]:
# DataFrame에 행 추가, 삭제

df = pd.DataFrame([
    {'name':'dog','age':2}
    ])


# 1 dp.loc
df.loc[len(df)] = ["cat", 6]


# 2 pd.concat 
newData = [
    {"name":"dolphin","age":15},
    {"name":"angel"}
]
df = pd.concat([df, pd.DataFrame(newData)], ignore_index = True)

print(df)
print("\n ------------------------ \n")

# df.drop

df = df.drop(3) # index번째 값 제거
print(df)

      name   age
0      dog   2.0
1      cat   6.0
2  dolphin  15.0
3    angel   NaN

 ------------------------

      name   age
0      dog   2.0
1      cat   6.0
2  dolphin  15.0

In [ ]:
#  DataFrame에 열 추가, 삭제

df = pd.DataFrame([
    {'name':'dog','age':2},
    {'name':'cat','age':6}
    ])

# 1 pd.Series
df['color'] = pd.Series(['yellow', 'black'])


# 2 column + column 
df['nickname'] = df['color'] + '_' + df['name']

# 3 df.concat
newData = pd.DataFrame(["stick", "ball"], columns=["likes"])
df = pd.concat([df, newData], axis=1)

print(df)
print("\n ------------------------ \n")

# 4 df.del
del df['color']

# 5 df.pop (값 반환됨)
delColumn = df.pop('nickname')
print("deleted")
print(delColumn)
print("\n")

df

  name  age   color    nickname  likes
0  dog    2  yellow  yellow_dog  stick
1  cat    6   black   black_cat   ball

 ------------------------

deleted
0    yellow_dog
1     black_cat
Name: nickname, dtype: object

  name  age  likes
0  dog    2  stick
1  cat    6   ball